<div class="container mx-auto py-5 px-5">
    <h1 class="text-2xl mb-4 font-bold flex items-center">
        <i class="fas fa-user mr-2"></i>
        Bonjour Pr.{{ decodedToken.name }}
    </h1>

    <!-- Filter options -->
    <div class="flex mb-4 space-x-4">
        <div class="flex items-center">
            <label for="semester" class="mr-2 font-medium">
                <i class="fas fa-book mr-1"></i>
                Semestre:
            </label>
            <select [(ngModel)]="filters.semestre" id="matiere" class="px-2 py-1 border border-gray-300 rounded">
                <option value="all">All</option>
                <option [value]="1">S1 {{ currentYear }} / {{ nextYear }}
                </option>
                <option [value]="2 ">S2 {{ currentYear }} / {{ nextYear }}
                </option>
            </select>
        </div>
        <div class="flex items-center">
            <label for="matiere" class="mr-2 font-medium">
                <i class="fas fa-book mr-1"></i>
                Matière:
            </label>
            <select [(ngModel)]="filters.matiere" id="matiere" class="px-2 py-1 border border-gray-300 rounded">
                <option value="all">All</option>
                <option *ngFor="let matiere of uniqueMatieres" [value]="matiere">{{ matiere }}
                </option>
            </select>
        </div>

        <div class="flex items-center">
            <label for="classe" class="mr-2 font-medium">
                <i class="fas fa-graduation-cap mr-1"></i>
                Classe:
            </label>
            <select [(ngModel)]="filters.class" id="classe" class="px-2 py-1 border border-gray-300 rounded">
                <option value="all">All</option>
                <option *ngFor="let class of uniqueClasses" value="{{ class }}">{{ class }}
                </option>
            </select>
        </div>

        <div class="flex items-center">
            <label for="group" class="mr-2 font-medium">
                <i class="fas fa-users mr-1"></i>
                Groupe:
            </label>
            <select [(ngModel)]="filters.group" id="group" class="px-2 py-1 border border-gray-300 rounded">
                <option value="all">All</option>
                <option *ngFor="let group of uniqueGroups" value="{{ group }}">{{ group }}
                </option>
            </select>
        </div>
    </div>

    <div class="flex justify-end space-x-4 mb-4">
        <button (click)="filter()" class="bg-blue-500 hover:bg-blue-600 text-white font-medium px-4 py-2 rounded">
            <i class="fas fa-filter mr-1"></i>
            Filtrer
        </button>
        <button (click)="nouvelle()" class="bg-green-500 hover:bg-green-600 text-white font-medium px-4 py-2 rounded">
            <i class="fas fa-plus mr-1"></i>
            Nouvelle activité
        </button>
        <button (click)="sub()" class="bg-green-500 hover:bg-green-600 text-white font-medium px-4 py-2 rounded">
            <i class="fas fa-plus mr-1"></i>
            Soumissions
        </button>
    </div>
    <div class="flex justify-end">
        <button class="view-btn" id="list-view-btn" (click)="cardView = false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
                <path fill="none" d="M0 0h24v24H0z" />
                <path d="M4 4h16v2H4zm0 4h16v2H4zm0 4h16v2H4zm0 4h16v2H4z" />
            </svg>
        </button>
        <button class="view-btn" id="card-view-btn" (click)="cardView = true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                    d="M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm16 2v10H4V7h16zm0-2H4V4h16v1z" />
            </svg>
        </button>
    </div>
    <div *ngIf="activities.length === 0 && isLoading" class="flex items-center justify-center h-64">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200"
            height="200" style="shape-rendering: auto; display: block; background: rgb(255, 255, 255);"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
                <g transform="rotate(0 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(30 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(60 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s"
                            repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(90 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(120 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(150 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s"
                            repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(180 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(210 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(240 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s"
                            repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(270 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(300 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s"
                            begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g transform="rotate(330 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s"
                            repeatCount="indefinite"></animate>
                    </rect>
                </g>
                <g></g>
            </g><!-- [ldio] generated by https://loading.io -->
        </svg>
    </div>

    <div *ngIf="activities.length === 0 && !isLoading && !error" class="flex items-center justify-center h-64">
        <p class="text-gray-500 text-2xl">
            <i class="fas fa-spinner fa-spin mr-2"></i>
            Pas d'activités
        </p>
    </div>
    <div *ngIf="error" class="flex items-center justify-center h-64">
        <p class="text-red-500 text-2xl">
            <i class="fas fa-spinner fa-spin mr-2"></i>
            Un probleme est survenu
        </p>
    </div>
    <table class="min-w-full mt-4 table-auto" *ngIf="activities.length > 0 && cardView == false">
        <thead>
            <tr class="bg-gray-200 text-left">
                <th class="py-3 px-6 font-semibold text-sm text-gray-600">
                    <i class="fas fa-sticky-note mr-2"></i>
                    Activité
                </th>
                <th class="py-3 px-6 font-semibold text-sm text-gray-600">
                    <i class="fas fa-calendar-alt mr-2"></i>
                    Date
                </th>
                <th class="py-3 px-6 font-semibold text-sm text-gray-600">
                    <i class="fas fa-file-alt mr-2"></i>
                    Type
                </th>
                <th class="py-3 px-6 font-semibold text-sm text-gray-600">
                    <i class="fas fa-calendar-check mr-2"></i>
                    Remise
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let activity of activities" class="hover:bg-gray-50">
                <td class="py-3 px-6 text-sm text-gray-800">{{ activity.intitule }}</td>
                <td class="py-3 px-6 text-sm text-gray-800">{{ activity.created_at | date:'dd/MM/yyyy' }}</td>
                <td class="py-3 px-6 text-sm text-gray-800">{{ activity.type }}</td>
                <td class="py-3 px-6 text-sm text-gray-800">{{ activity.dateRemise | date:'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="flex flex-wrap" *ngIf="cardView == true">
        <div *ngFor="let activity of activities" class="min-w-[300px] w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg">
                <div class="p-4">
                    <h3 class="text-sm text-gray-500">{{ activity.type }}</h3>
                    <h2 class="text-xl font-semibold">{{ activity.intitule }}</h2>
                    <p class="text-sm text-gray-500 mt-2">{{ activity.created_at | date:'dd/MM/yyyy' }}</p>
                </div>
            </div>
        </div>
    </div>


</div>