<div class="container mx-auto">
    <h1 class="text-2xl mb-4 font-bold flex items-center">
        <i class="fas fa-user mr-2"></i>
        Bonjour Pr.{{ decodedToken.name }}
    </h1>

    <!-- Filter options -->
    <div class="flex mb-4 space-x-4">
        <div class="flex items-center">
            <label for="matiere" class="mr-2 font-medium">
                <i class="fas fa-book mr-1"></i>
                Matière:
            </label>
            <select [(ngModel)]="filters.matiere" id="matiere" class="px-2 py-1 border border-gray-300 rounded">
                <option value="all">All</option>
                <option *ngFor="let matiere of uniqueMatieres" [value]="matiere">{{ matiere }}
                </option>
            </select>
        </div>

        <div class="flex items-center">
            <label for="classe" class="mr-2 font-medium">
                <i class="fas fa-graduation-cap mr-1"></i>
                Classe:
            </label>
            <select [(ngModel)]="filters.class" id="classe" class="px-2 py-1 border border-gray-300 rounded">
                <option value="all">All</option>
                <option *ngFor="let class of uniqueClasses" value="{{ class }}">{{ class }}
                </option>
            </select>
        </div>

        <div class="flex items-center">
            <label for="group" class="mr-2 font-medium">
                <i class="fas fa-users mr-1"></i>
                Groupe:
            </label>
            <select [(ngModel)]="filters.group" id="group" class="px-2 py-1 border border-gray-300 rounded">
                <option value="all">All</option>
                <option *ngFor="let group of uniqueGroups" value="{{ group }}">{{ group }}
                </option>
            </select>
        </div>
    </div>

    <div class="flex justify-end space-x-4 mb-4">
        <button (click)="filter()" class="bg-blue-500 hover:bg-blue-600 text-white font-medium px-4 py-2 rounded">
            <i class="fas fa-filter mr-1"></i>
            Filtrer
        </button>
        <button (click)="nouvelle()" class="bg-green-500 hover:bg-green-600 text-white font-medium px-4 py-2 rounded">
            <i class="fas fa-plus mr-1"></i>
            Nouvelle activité
        </button>
    </div>

    <div *ngIf="activities.length === 0" class="flex items-center justify-center h-64">
        <p class="text-gray-500 text-2xl">
            <i class="fas fa-spinner fa-spin mr-2"></i>
            Loading...
        </p>
    </div>

    <table class="min-w-full mt-4 table-auto" *ngIf="activities.length > 0">
        <thead>
            <tr class="bg-gray-200">
                <th class="py-2 px-4">
                    <i class="fas fa-sticky-note mr-1"></i>
                    Activité
                </th>
                <th class="py-2 px-4">
                    <i class="fas fa-calendar-alt mr-1"></i>
                    Date
                </th>
                <th class="py-2 px-4">
                    <i class="fas fa-file-alt mr-1"></i>
                    Type
                </th>
                <th class="py-2 px-4">
                    <i class="fas fa-calendar-check mr-1"></i>
                    Remise
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activities" class="border-b">
                <td class="py-2 px-4">{{ activity.intitule }}</td>
                <td class="py-2 px-4">{{ activity.created_at }}</td>
                <td class="py-2 px-4">{{ activity.type }}</td>
                <td class="py-2 px-4">{{ activity.dateRemise }}</td>
            </tr>
        </tbody>
    </table>
</div>