<div class="max-w-md mx-auto p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-6">Create Activity</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Intitulé</label>
            <input [(ngModel)]="data.intitule" name="intitule" type="text" id="name"
                class="border border-gray-400 rounded w-full py-2 px-3" placeholder="Enter name" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="group">Type</label>
            <input [(ngModel)]="data.type" name="type" type="text" id="group"
                class="border border-gray-400 rounded w-full py-2 px-3" placeholder="Enter group" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="class">Remise avant:</label>
            <input [(ngModel)]="data.dateRemise" name="dateRemise" type="text" id="class"
                class="border border-gray-400 rounded w-full py-2 px-3" placeholder="Enter class" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="matiere">Description</label>
            <input [(ngModel)]="data.description" name="description" type="text" id="matiere"
                class="border border-gray-400 rounded w-full py-2 px-3" placeholder="Enter matiere" required>
        </div>
        <div class="center">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="uploadFiles($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    Choose file
                    <button type="button" (click)="openFileSelector()">Browse</button>
                </ng-template>
            </ngx-file-drop>
            <div class="upload-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="upload-name-style">
                        <tr *ngFor="let item of files; let i=index">
                            <td><strong>{{ item.relativePath }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex justify-end">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
            <button type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Annuler</button>
        </div>
    </form>
</div>