<div class="mx-auto p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-6">Create Activity</h1>
    <!-- Filter options -->
    <div class="flex mb-4">
        <label for="matiere" class="mr-2">Matiere:</label>
        <select [(ngModel)]="matiere" id="matiere" class="px-2 py-1 border border-gray-300 rounded">
            <option value="all">All</option>
            <option [value]="matiere">{{ matiere }}
            </option>
            <!-- Add additional "matiere" options here -->
        </select>

        <label for="classe" class="ml-4 mr-2">Classe:</label>
        <select [(ngModel)]="class" id="classe" class="px-2 py-1 border border-gray-300 rounded">
            <option value="all">All</option>
            <option value="{{ class }}">{{ class }}
            </option>
        </select>

        <label for="group" class="ml-4 mr-2">Group:</label>
        <select [(ngModel)]="group" id="group" class="px-2 py-1 border border-gray-300 rounded">
            <option value="all">All</option>
            <option value="{{ group }}">{{ group }}
            </option>
        </select>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Intitulé</label>
            <input [(ngModel)]="data.intitule" name="intitule" type="text" id="name"
                class="border border-gray-400 rounded w-full py-2 px-3" placeholder="Intitulé" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="type">Type</label>
            <select [(ngModel)]="data.type" id="type" name="type" class="px-2 py-1 border border-gray-300 rounded">
                <option value="Notes de cours
                ">Notes de cours</option>
                <option value="Partage de lien">Partage de lien</option>
                <option value="Travail à rendre">Travail à rendre</option>
                <option value="Corrigé d'examen">Corrigé d'examen</option>
            </select>
        </div>
        <div class="mb-4" *ngIf="data.type=='Travail à rendre'">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="remise">Remise avant:</label>
            <input [(ngModel)]="data.dateRemise" name="dateRemise" type="date" id="remise"
                class="border border-gray-400 rounded w-full py-2 px-3" placeholder="Remise avant" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="matiere">Description</label>
            <textarea [(ngModel)]="data.description" name="description" type="text" id="matiere"
                class="border border-gray-400 rounded w-full py-2 h-64 px-3" placeholder="Description"
                style="resize:none" required></textarea>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Attachments</label>
            <div *ngFor="let fileInput of fileInputs; let i = index">
                <input type="file" (change)="handleFileInput($event, i)"
                    class="border border-gray-400 rounded w-full py-2 px-3 mb-2">
                <button type="button" class="text-red-500" (click)="removeFileInput(fileInput.id)">Supprimer</button>
            </div>
            <button type="button" class="mt-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                (click)="addFileInput()">Ajouter un autre fichier</button>
        </div>

        <!-- Submit and Cancel Buttons -->
        <div class="flex justify-end space-x-4">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                (click)="annuler()">Annuler</button>
        </div>
    </form>
</div>