<div class="max-w-md mx-auto p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-6">Article Title</h1>
    <div class="flex justify-between items-center mb-4">
        <div>
            <span class="text-gray-700 text-lg font-bold">{{ activity.intitule }}</span>
            <span class="text-gray-500 text-sm ml-2">({{ activity.type }})</span>
        </div>
    </div>

    <div class="mb-4 space-y-4">
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Matière</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.matiere }}</span>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Date de remise</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.dateRemise }}</span>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Classe</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.class }}</span>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Groupe</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.group }}</span>
        </div>
    </div>

    <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-1">Description</label>
        <p class="border border-gray-300 rounded w-full py-2 px-3">{{ activity.description }}</p>
    </div>
    <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-1">Fichier(s) d'activité</label>
        <ul>
            <!-- Use *ngFor on the <li> element to iterate over filePaths array -->
            <li *ngFor="let url of filePaths"><a [href]="'http://localhost:8000/api/files/' + url">{{ url }}</a></li>
        </ul>
    </div>

    <form *ngIf="activity.type == 'Travail à rendre' && workSubmitted != 'submitted' && !lateSubmit"
        (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Attachments</label>
            <div *ngFor="let fileInput of fileInputs; let i = index">
                <input type="file" (change)="handleFileInput($event, i)"
                    class="border border-gray-400 rounded w-full py-2 px-3 mb-2">
                <button type="button" class="text-red-500" (click)="removeFileInput(fileInput.id)">Supprimer</button>
            </div>
            <button type="button" class="mt-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                (click)="addFileInput()">Ajouter un autre fichier</button>
        </div>

        <!-- Submit and Cancel Buttons -->
        <div class="flex justify-end space-x-4">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Soummetre</button>
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                (click)="annuler()">Annuler</button>
        </div>
    </form>
    <div *ngIf="workSubmitted === 'submitted'">
        <p class="text-green-500 font-bold text-center">Travail soumis</p>
    </div>
    <div *ngIf="lateSubmit && workSubmitted !== 'submitted'">
        <p class="text-red-500 font-bold text-center">Retard de soumission</p>
    </div>
</div>