<div *ngIf="Loading" class="flex items-center justify-center h-64">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200"
        height="200" style="shape-rendering: auto; display: block; background: rgb(255, 255, 255);"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g>
            <g transform="rotate(0 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(30 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(60 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(90 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(120 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(150 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(180 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(210 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(240 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(270 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(300 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(330 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s"
                        repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g></g>
        </g><!-- [ldio] generated by https://loading.io -->
    </svg>
</div>
<div class="mx-auto p-6 bg-white rounded shadow" *ngIf="!Loading">
    <h1 class="text-2xl font-bold mb-6">Article Title</h1>
    <div class="flex justify-between items-center mb-4">
        <div>
            <span class="text-gray-700 text-lg font-bold">{{ activity.intitule }}</span>
            <span class="text-gray-500 text-sm ml-2">({{ activity.type }})</span>
        </div>
    </div>

    <div class="mb-4 space-y-4">
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Matière</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.matiere }}</span>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Date de remise</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.dateRemise }}</span>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Classe</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.class }}</span>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-1">Groupe</label>
            <span class="block border border-gray-300 rounded w-full py-2 px-3">{{ activity.group }}</span>
        </div>
    </div>

    <div class="mb-6">
        <label for="description" class="block text-gray-700 text-sm font-bold mb-1">Description</label>
        <textarea id="description" class="border border-gray-300 rounded w-full h-64 py-2 px-3"
            style="resize:none">{{ activity.description }}</textarea>
    </div>
    <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-1">Fichier(s) d'activité</label>
        <ul>
            <!-- Use *ngFor on the <li> element to iterate over filePaths array -->
            <li *ngFor="let url of filePaths"><a [href]="'http://localhost:8000/api/files/' + url">{{ url }}</a></li>
        </ul>
    </div>

    <form *ngIf="activity.type == 'Travail à rendre' && workSubmitted != 'submitted' && !lateSubmit"
        (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Attachments</label>
            <div *ngFor="let fileInput of fileInputs; let i = index">
                <input type="file" (change)="handleFileInput($event, i)"
                    class="border border-gray-400 rounded w-full py-2 px-3 mb-2">
                <button type="button" class="text-red-500" (click)="removeFileInput(fileInput.id)">Supprimer</button>
            </div>
            <button type="button" class="mt-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                (click)="addFileInput()">Ajouter un autre fichier</button>
        </div>

        <!-- Submit and Cancel Buttons -->
        <div class="flex justify-end space-x-4">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Soummetre</button>
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                (click)="annuler()">Annuler</button>
        </div>
    </form>
    <div *ngIf="workSubmitted === 'submitted'">
        <p class="text-green-500 font-bold text-center">Travail soumis</p>
    </div>
    <div *ngIf="lateSubmit && workSubmitted !== 'submitted'">
        <p class="text-red-500 font-bold text-center">Retard de soumission</p>
    </div>
</div>